<ion-header>
  <ion-navbar>
    <ion-title>我</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="Profile">

<div padding>
<p>会员卡号： {{idnum}}</p>
<p>姓名： {{fname}}  {{lname}}</p>
<p>Email：  {{email}}</p>
<p>邮箱验证： {{isEmailVerified?'已验证':'未验证'}}</p>
</div>


<div padding>
  <button ion-button color="primary" block *ngIf="!isEmailVerified" (click) = "sendVerification()" [disabled]="timer.running">发送验证邮件</button>
  <button ion-button color="primary" block (click) = "resetPassword()" [disabled]="timer.running">修改密码</button>
  <p *ngIf="isSentVerification">点击链接验证成功即可发帖，但本页面需要重启App才会刷新邮箱验证状态。</p>
  <p style="color:red" *ngIf = "timer.running"> 冷却时间：{{timer.time}} </p>
    <button ion-button block (click) = "logout()">登出</button>
</div>



<ion-row padding>
<p id="law">
	KWCSSA 会员卡 V2.0<br>© 2016 KWCSSA信息部
</p>
</ion-row>


</ion-content>
