page-card {


.centered {

    margin-left: auto;
    margin-right: auto;
    display: block;

}

#law {
	position:relative;
	top:5rem;
	color:gray;
	font-size:15px;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

}
